/*Azra Fadhil Shadiq*/
/*10122319*/
/*IF 9*/

.menu 
{
    background-color: #1e1e1e00;
    width: 150px;
    height: 50%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}
  
.menu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu li
{
    margin: 10px 0;
}
  
.menu-item 
{
    background-color: #3D3D3D;
    border: 1px solid #3D3D3D;
    padding: 10px;
    box-sizing: border-box;
}
  
.menu a
{
    color: #B8B8B8;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}
  
.menu a:hover
{
    background-color: #9c9c9c;
    color: #FFFFFF;
}

.menu-animation {
    animation: slideIn 1.5s ease-out forwards;
}

.menu-item:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
}


.animated-out {
    transition: all 0.5s ease-in-out;
    transform: scale(0);
  }
  
  
.Amiya-container
{
    position: absolute;
    top: -7.5%; /* adjust the value as per your requirement */
    left: -1090%; /* adjust the value as per your requirement */
    overflow: hidden;
}

.Amiya-container.slide-out {
    animation: slide-out 1.5s forwards;
  }
  
  @keyframes slide-out {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  
  


#explanatory-text {
    z-index: 1;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(0%, -50%);
    color: white;
    font-size: 24px;
    font-weight:bold;
    text-align: center;
    padding:10px;
    background-color:rgba(0,0,0,0.6);
    border-radius:15px;
}

#amiya {
    z-index: 0;
    width: 125%;
    height: auto; 
}
  
.Amiya-container-animation {
    animation: slideInAmiya 2.5s ease-out forwards;
}



@keyframes slideIn {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    100% {
        transform: translateX(100%);
    }
    0% {
        transform: translateX(0);
    }
}

/* Keyframes for the slide in animation */
@keyframes slideInAmiya {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.play {
    display: block;
    position: absolute;
    top: 80%;
    left: 95%;
    transform: translate(-50%, -50%);
  }
  
  .pause {
    display: block;
    position: absolute;
    top: 80%;
    left: 95%;
    transform: translate(-50%, -50%);
  } 
  .musik {
    display: block;
    position: absolute;
    top: 90%;
    left: 94.5%;
    transform: translate(-50%, -50%);
  }
  
  #popup-image-container {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    animation: fade-in 0.5s ease-in;
  }
  
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  
  #popup-image {
    width: 854px;
    height: 480px;
  }
  
  
